@font-face {
    font-family: 'icons';
    src: url('/font-icons/icons.eot') format('embedded-opentype'),
            url('/font-icons/icons.ttf') format('truetype'),
            url('/font-icons/icons.woff') format('woff'),
            url('/font-icons/icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bnr-logo:before {
    content: "\e934";
}
.icon-forbes-logo:before {
    content: "\e933";
}
.icon-autos:before {
    content: "\e900";
}
.icon-business:before {
    content: "\e901";
}
.icon-energy:before {
    content: "\e902";
}
.icon-entrepreneurs:before {
    content: "\e903";
}
.icon-health:before {
    content: "\e904";
}
.icon-investing:before {
    content: "\e905";
}
.icon-leadership:before {
    content: "\e906";
}
.icon-lifestyle:before {
    content: "\e907";
}
.icon-marketing:before {
    content: "\e908";
}
.icon-play:before {
    content: "\e909";
}
.icon-plus:before {
    content: "\e90a";
}
.icon-technology:before {
    content: "\e90b";
}
.icon-z-linkedin:before {
    content: "\e90c";
}
.icon-z-youtube:before {
    content: "\e90d";
}
.icon-arrow-callout:before {
    content: "\e90e";
}
.icon-arrow-down:before {
    content: "\e90f";
}
.icon-arrow-left:before {
    content: "\e910";
}
.icon-arrow-right:before {
    content: "\e911";
}
.icon-ba-nay-nay:before {
    content: "\e912";
}
.icon-brandvoice:before {
    content: "\e913";
}
.icon-checkmark:before {
    content: "\e914";
}
.icon-circle-empty:before {
    content: "\e915";
}
.icon-circle-full:before {
    content: "\e916";
}
.icon-close:before {
    content: "\e917";
}
.icon-comments:before {
    content: "\e918";
}
.icon-custom:before {
    content: "\e919";
}
.icon-digital:before {
    content: "\e91a";
}
.icon-document:before {
    content: "\e91b";
}
.icon-download:before {
    content: "\e91c";
}
.icon-events:before {
    content: "\e91d";
}
.icon-eyeball:before {
    content: "\e91e";
}
.icon-facebook:before {
    content: "\e91f";
}
.icon-globe:before {
    content: "\e920";
}
.icon-insights:before {
    content: "\e921";
}
.icon-instagram:before {
    content: "\e922";
}
.icon-laurel-left:before {
    content: "\e923";
}
.icon-laurel-right:before {
    content: "\e924";
}
.icon-magazine:before {
    content: "\e925";
}
.icon-mobile-menu:before {
    content: "\e926";
}
.icon-mobilephone:before {
    content: "\e927";
}
.icon-news:before {
    content: "\e928";
}
.icon-pen:before {
    content: "\e929";
}
.icon-people:before {
    content: "\e92a";
}
.icon-search:before {
    content: "\e92b";
}
.icon-share:before {
    content: "\e92c";
}
.icon-stats:before {
    content: "\e92d";
}
.icon-twitter:before {
    content: "\e92e";
}
.icon-video:before {
    content: "\e92f";
}
.icon-webpage:before {
    content: "\e930";
}
.icon-zoom-in:before {
    content: "\e931";
}
.icon-zoom-out:before {
    content: "\e932";
}
