// Typography
$base-font-family: 'minionpro-regular', $helvetica;
$heading-font-family: 'gotham-bold', $helvetica;

// Font Sizes
$base-font-size: 16px;
$heading-font-size: 36px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #999999;
$medium-gray: #cccccc;
$light-gray: #5b5b5b;

// Brand colors
$brand-yellow: #ddc84f;
$brand-light-gray: #f6f6f6;
$brand-dark-gray: #3a3a3a;
$brand-medium-gray: #858585;
$brand-brown: #4d4d4d;
$nav-outer-bg: #404040;
$nav-inner-bg: #5b5b5b;
$spotlight-bg: #e9e9e9;

// Font Colors
$base-font-color: #141414;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
